<div class="overflow-hidden content-margin mt-3 container-fluid"
     style="width: 80%;" *ngIf="apiSelectorGroup">
     <form class="form-horizontal"
        [formGroup]="apiSelectorGroup">

      <dynamic-ng-bootstrap-form [group]="apiSelectorGroup"
                                  [model]="apiSelectorModel"
                                  (dfChange)="onChange($event)"></dynamic-ng-bootstrap-form>

      <!-- 
                                [layout]="formLayout"
                                [model]="formModel"
                                (dfBlur)="onBlur($event)"
                                (dfChange)="onChange($event)"
                                (dfFocus)="onFocus($event)"
                                (ngbEvent)="onNgbEvent($event)"
    -->

    </form></div>
    <div class="overflow-hidden content-margin mt-3 container-fluid"
    *ngIf="formGroup"
     style="width: 80%;">
    <form class="form-horizontal"
          [formGroup]="formGroup">

        <dynamic-ng-bootstrap-form [group]="formGroup"
        [layout]="formLayout"
                                   [model]="formModel"></dynamic-ng-bootstrap-form>

        <!-- 
                                 [layout]="formLayout"
                                 [model]="formModel"
                                 (dfBlur)="onBlur($event)"
                                 (dfChange)="onChange($event)"
                                 (dfFocus)="onFocus($event)"
                                 (ngbEvent)="onNgbEvent($event)"
 -->

    </form>
</div>